* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.image-container {
    width: 100%;
}
.image {
    width: 100%;
    object-fit: contain;
}
.project_1 {
    display: flex;
    flex-direction: column;
    gap: 100px;
}